@use './vars.scss';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg-main);
  font-family: var(--main-text-font);
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}
