:root {
  // ---COLORS---

  // COLORS BG CONTENT
  --color-bg-main: #fbd2e2;
  --color-bg-content: #fff;

  // COLORS UI ELEMENTS
  --color-primary: #df7efa;
  --color-primary-rgb: rgb(223, 126, 250);
  --color-primary-hover: #d96af8;
  --color-primary-active: #d449fa;

  --color-bg-btn-outlined: #fff;
  --color-bg-btn-outlined-hover: rgba(224, 127, 250, 0.1);
  --color-bg-btn-outlined-active: rgba(224, 127, 250, 0.2);

  --color-bg-btn-contained-disabled: #acacac;
  --color-bg-btn-outlined-disabled: rgba(172, 172, 172, 0.2);
  --color-border-btn-disabled: #acacac;

  --color-text-btn-contained: #fff;

  --color-bg-input: #fff;
  --color-border-input: #808080;

  --color-error: #f54141;

  // COLORS TEXT
  --color-text: #384046;
  --color-text-secondary: #ccc;

  // COLORS UTILS
  --color-divider: #eee;

  // ---FONTS---
  --main-text-font: 'Open Sans', sans-serif;
  --logo-font: 'Galada';
}
