:root {
  // COLORS
  --color-bg-main: #fbd2e2;
  --color-bg-content: #fff;
  --color-primary: #ecb1fc;
  --color-primary-hover: #e290f8;
  --color-primary-active: #e07bfc;
  --color-text: #384046;
  --color-text-secondary: #ccc;
  --color-divider: #eee;

  // FONTS
  --main-text-font: 'Open Sans', sans-serif;
  --logo-font: 'Galada';
}
