.sidebar {
  position: relative;
  padding: 0 20px 0 10px;

  &__logo {
    margin-bottom: 12px;
  }

  &__nav {
    max-width: 180px;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    border-radius: 50%;
    height: 80%;
    top: 10%;
    right: 0px;
    background-color: var(--color-divider);
  }
}

@media (max-width: 1370px) {
  .sidebar {
    padding: 0;
    padding-right: 20px;
    &__nav {
      max-width: 150px;
    }

    &::after {
      height: 90%;
      top: 5%;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    &__nav {
      max-width: 100%;
    }

    &__logo {
      margin-bottom: 32px;
    }

    &::after {
      content: none;
    }
  }
}
