.logo {
  display: block;
  font-family: var(--logo-font);
  text-decoration: none;
  color: var(--color-primary);
  font-size: 48px;
  letter-spacing: 4px;
}

@media (max-width: 1370px) {
  .logo {
    font-size: 42px;
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 38px;
  }
}
